<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"><head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Subject</title>
</head>

<body>
<h1>The Greatness Within</h1>

<h2 th:each="school:${schools}"><a th:href="@{'/schools/'+ ${school.location}}" th:text="${school.location}">This class builds self affirmation and confidence techniques</a>
</h2>
<form action="add-subject" method="POST">
    <input name="location" type="text">
    <button type="submit">Add Subject</button>
</form>

</body>
</html>





































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































